*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "helvetica neue",arial,sans-serif;
    font-size: 14px;
    color: #444;
}
img{
    cursor: pointer;
}

 #close{ 
    z-index: 10; 
    width:56px; 
    height:56px; 
    cursor:pointer;
    position:fixed; 
    right:5px; 
    top:5px; 
    
    }
.close-layer i{
    background:transparent url("../img/btn_close_layer.png") no-repeat scroll 0px 0px;
    position: absolute;
    width: 36px;
    height: 36px;
    margin: 0px 0px 10px 15px;
}
.close-layer i:hover{
    background-position: 0px -50px;
}

.pin-view-arrows a{
    background: transparent url("../img/pin_view_arrows.png") no-repeat scroll 0px 0px;
    width: 60px;
    height: 150px;
    display: block;
    top: 50%;
    margin-top: -85px;
    position: fixed;
}
.pin-view-arrows a.next{
    background-position: -80px 0px;
    left: auto;
    right: 0;
}
.pin-view-arrows a.next:hover{
    background-position: -80px -170px;
}
.pin-view-arrows a.pre{

}
.pin-view-arrows a.pre:hover{
    background-position: 0px -170px;
}
 .popWindow {  
        background:rgba(229, 229, 229, 0.95) none repeat scroll 0% 0%;  
         
        left: 0;  
        top: 0;  
        filter: alpha(opacity=50);  
        opacity: 0.6;  
        z-index: 1;  
        position: absolute;  
          
    }  
.maskLayer {  
        background-color:#378476;  
        width: 200px;  
        height: 30px;  
        line-height: 30px;  
        left: 50%;  
        top: 50%;  
        color:#fff;  
        z-index: 2;  
        position: absolute;  
        text-align:center;  
    }  