/*--------------Common stylesheet------------------*/
*{
	padding: 0;
	margin: 0;
}
@media screen and(max-width: 655px){
	header ul{
		width: 655px;
	}
}
html{
	width: 100%;
}
body{
	width: 100%;
}
.wraper{
	width: 100%;
	min-width: 1028px;
}


/*-------------------header stylesheet-------*/
header{
	width: 100%;
	height: 50px;
	background-color: #2d4f7c;
	text-align: center;
}
header li{
	display: inline-block;
	list-style-type: none;
	line-height: 50px;
	position: relative;
}
header li a{
	text-decoration: none;
	color: #96a7be;
	font-family: "STSong", sans-serif;
	font-weight: bold;
	font-size: 15px;
	margin: 20px;
}
header li a:hover{
	color: #f7ffff;
}
header li a:hover::after{
	content: "";
	position: absolute;
	left: 40%;
	bottom: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 8px 8px;
	border-color: transparent transparent #fff transparent;
}

/*--------------------------------picture-con stylesheet---------*/
#main{
	width: 980px;
	margin: 0 auto;
	text-align: center;
}
.column{
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}
.column>div{
	display: block;
	margin-bottom: 5px;
	padding: 5px;
}
.column img{
	max-width: 200px;
	cursor: pointer;
}

/* 以下为蒙板的样式 */
#close{
	z-index: 10;
	width:56px;
	height:56px;
	cursor:pointer;
	position:fixed;
	right:10px;
	top:10px;

}
.close-layer i{
	position: absolute;
	background:transparent url("../img/btn_close_layer.png") no-repeat scroll 0 0;
	width: 36px;
	height: 36px;
}
.close-layer i:hover{
	background-position: 0 -50px;
}

.pin-view-arrows a{
	background: transparent url("../img/pin_view_arrows.png") no-repeat scroll 0 0;
	width: 60px;
	height: 150px;
	display: block;
	top: 50%;
	margin-top: -85px;
	position: fixed;
}
.pin-view-arrows a.next{
	background-position: -80px 0;
	left: auto;
	right: 0;
}
.pin-view-arrows a.next:hover{
	background-position: -80px -170px;
}
.pin-view-arrows a.pre{

}
.pin-view-arrows a.pre:hover{
	background-position: 0 -170px;
}
.popWindow {
	background:rgba(229, 229, 229, 0.95) none repeat scroll 0 0;

	left: 0;
	top: 0;
	filter: alpha(opacity=50);
	opacity: 0.6;
	z-index: 1;
	position: absolute;

}
.pop {
	display: inline-block;
	color:#fff;
	z-index: 2;
	position: relative;
	text-align:center;
	vertical-align: middle;

}
.pop img {
	-webkit-box-shadow: 10px 10px 10px #aaa;
	-moz-box-shadow: 10px 10px 10px #aaa;
	box-shadow: 10px 10px 10px #aaa;
}
#maskLayer {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	text-align: center;
}